BODY{font-family:Arial; scrollbar-face-color: #CCCCCC;scrollbar-highlight-color: #FFFFFF;scrollbar-shadow-color: #FFFFFF;scrollbar-3dlight-color: #CCCCCC;scrollbar-arrow-color: #3366cc;scrollbar-track-color: #F3F3F3;scrollbar-darkshadow-color: #CCCCCC;
}

H1{
font-size:13px;font-weight:bold;line-height:15px;margin-top:4px;margin-bottom:0px;margin-left:10px;color:#FFFFFF
}

H1.fr{
font-size:13px;font-weight:bold;line-height:15px;margin-top:4px;margin-bottom:0px;margin-left:10px;color:#FFFFFF; letter-spacing:-1
}

H2{font-weight:bold;font-size:13px;line-height:18px;margin-top:0px;margin-bottom:0px;text-indent:16px;color:#FFFFFF
}

H2.active{font-weight:bold;font-size:13px;line-height:18px;margin-top:0px;margin-bottom:0px;text-indent:16px;color:#99ccff
}

H3{
background-color:#FFFFFF;font-size:13px;line-height:18px;font-weight:bold; margin-top:0px;margin-bottom:4px;margin-left:5px;color:#666666;
}

H5{
background-color:#FFFFFF;font-size:13.5pt;font-weight:600;line-height:22px;margin-top:0px;text-indent:20px;margin-bottom:0px;letter-spacing:1px;color:#333333
}

H5.style2{
background-color:#FFFFFF;font-size:13pt;font-weight:600;line-height:18px;margin-top:5px;text-indent:20px;letter-spacing:1px;color:#666666
}

H6{
background-color:#ffffcc;font-size:11pt;font-weight:600;line-height:14px;margin-top:12px;margin-left:13px;margin-bottom:0px;letter-spacing:0;text-indent: -9px;color:#4C4C4C
}

H6.style2{
font-size:14px;font-weight:600;line-height:16px;margin-top:0px;margin-left:0px;margin-bottom:0px;color:#ffffff;background-color:#3366cc;letter-spacing:0
}

H6.inactive{
background-color:#E6E6E6;font-size:11pt;font-weight:600;line-height:14px;margin-top:12px;margin-left:2px;margin-bottom:0px;letter-spacing:0;color:#ff9900
}

P{font-size:12px;font-weight:bold;line-height:16px;margin-top:0px;margin-left:0px;margin-bottom:10px;color:#ff9999
}

P.style2{
font-size:25px;font-weight:bold;line-height:32px;margin-top:0px;margin-left:0px;margin-bottom:0px;color:#99cc00
}

P.style2G{
font-size:20px;font-weight:bold;line-height:32px;margin-top:0px;margin-left:0px;margin-bottom:0px;color:#cc6600
}

P.style3{font-size:10.5pt;font-weight:400;line-height:16px;margin-top:0px;margin-left:10px;margin-bottom:0px;letter-spacing:0px;color:#4C4C4C
}

P.style3b{font-size:10.5pt;font-weight:400;line-height:16px;margin-top:0px;margin-left:10px;margin-bottom:0px;letter-spacing:0px;color:#ffffff
}

P.RU{font-size:11pt;font-weight:400;line-height:16px;margin-top:0px;margin-left:10px;margin-bottom:0px;letter-spacing:0px;color:#cc0000
}

P.style4{
font-size:10pt;font-weight:400;line-height:15px;margin-top:0px;margin-left:0px;margin-bottom:0px;letter-spacing:0px;color:#000000
}

P.style5{
font-size:10.5pt;font-weight:600;line-height:16px;margin-top:0px;margin-left:10px;margin-bottom:0px;letter-spacing:0px;color:#ffffff
}

P.important-t{
font-size:30px;font-weight:bold;line-height:16px;margin-top:30px;margin-left:0px;margin-bottom:10px;color:#3399ff
}

P.important-b{
font-size:10.5pt;font-weight:400;line-height:15px;margin-top:30px;margin-left:0px;margin-bottom:0px;letter-spacing:0px;color:#3399ff
}

P.note{font-size:12pt;font-weight:bold;line-height:16px;margin-top:0px;margin-left:2px;margin-bottom:0px;letter-spacing:1px;color:#cc0000
}

P.note1{font-size:10.5pt;font-weight:400;line-height:16px;margin-top:0px;margin-left:0px;margin-bottom:0px;letter-spacing:0px;color:#cc0000
}

a:link,a:visited{
color:#FFFFFF;text-decoration:none
}

a:hover{
color:#cc3300
}

a.active:link,a.active:visited{color:#3399ff;
}

a.active:hover{color:#FFFFFF;background-color:#999999
}

a.style2:link,a.style2:visited{
color:#FFFFFF;text-decoration:none
}
a.style2:hover{
color:#FF8800;background-color:#808080
}

a.style3:link,a.style3:visited{color:#666666;text-decoration:none;
}

a.style3:hover{color:#FFFFFF;background-color:#999999
}

a.style4:link,a.style4:visited{
color:#0066cc;text-decoration:none
}

a.style4:hover{
color:#FFFFFF;background-color:#666666
}

a.style5:link,a.style5:visited{
color:#ffff99;text-decoration:none
}

a.style5:hover{
color:#cc3300
}

a.qrg:link,a.qrg:visited{
color:#0066cc;text-decoration:underline
}

a.qrg:hover{
color:#FFFFFF;background-color:#808080
}
